.present {
  @include tablet {
    padding-top: 70px;
  }

  @include laptop {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: $bg-secondary-color;
      z-index: -1;
    }
  }

  // .present__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px 30px;

    @include miw(480px) {
      flex-direction: row;
      align-items: center;
    }
  }

  // .present__photo
  &__photo {
    width: 100%;
    object-fit: cover;
    max-width: 290px;

    @include miw(480px) {
      width: 50%;
    }

    @include tablet {
      width: 370px;
    }

    @include desktop {
      width: 445px;
    }
  }

  // .present__content
  &__content {
  }

  // .present__group-title
  &__group-title {
    font-weight: 700;
    margin-bottom: 18px;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  // .present__title
  &__title {
    font-size: 34px;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  // .present__subtitle
  &__subtitle {
    font-size: 16px;
    line-height: 120%;

    @include tablet {
      font-size: 18px;
    }
  }

  // .present__description
  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;

    @include tablet {
      font-size: 16px;
      margin-bottom: 60px;
    }
  }

  // .present__order-btn
  &__order-btn {

  }
}
