// Цвета
$light: #ffffff;
$dark: #110303;
$grey: #646464;
$light-grey: #AFAFAF;
$bg-secondary-color: #a1b7c8;
$btn-color: #e87c40;
$btn-close: #282626;

// Медиа-запросы
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin miw($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin maw($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Шрифты
@mixin font($name, $weight) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      display: swap;
    }
    src: url('../assets/fonts/#{ $name }-#{ $weight }.woff2') format('woff2'),
      url('../assets/fonts/#{ $name }-#{ $weight }.woff') format('woff');
  }
}
